In [1]:
import pandas as pd
import random

# 1. Data Analysis

## 1.1 Load Data

In [26]:
filename = "train_sample.csv"
df_train = pd.read_csv(filename)

In [8]:
filename = "test_sample.csv"
df_test = pd.read_csv(filename)

In [9]:
display(df_train) # 60262 rows

,Unnamed: 0,Id,Title,Body,Tags
0,0,204,What is the best way to position a div in css?,<p>I'm trying to place this menu:</p>\n\n<p><c...,css layout
1,1,205,How to plot specific rows in GNUplot,<p>I have a two-column file which has 1000000 ...,gnuplot
2,2,515,Using variable-width font in Putty,"<p><a href=""http://the.earth.li/~sgtatham/putt...",windows fonts terminal putty variable-width
3,3,550,How to start a terminal window in the center o...,<p>It's kind of annoying how some Ubuntu (GNOM...,linux ubuntu configuration
4,4,558,Capture printStackTrace() output in Android,<p>I'm debugging an existing library that was ...,java android
...,...,...,...,...,...
60257,60257,6033523,PIL not rendering fonts uniformly across machines,<p>I wrote some code that spits out an image. ...,python pil
60258,60258,6033856,Symfony2 JSON example,<p>I'm trying to set up a json example using s...,php json rest symfony2
60259,60259,6033878,Extract amount in cents from currency within text,<p>Suppose I have arbitrary text with a curren...,java regex parsing
60260,60260,6033887,Can't hide CCMenuItem when using Inn-App-Purchase,<p>This time I would like to ask if anybody ha...,cocos2d-iphone cocos2d in-app-purchase ccmenuitem
60261,60261,6033920,Why does the first cudaMalloc take so much tim...,<p>For instance</p>\n\n<pre><code>int *p;\ncud...,memory cuda gpgpu

In [11]:
display(df_test) # 20313 rows

,Unnamed: 0,Id,Title,Body
0,0,6034339,WPF Style trigger problem,<p>I want to write a Style for a Border elemen...
1,1,6034446,How to detect that streaming stopped AS3?,<p>I have a flash app and I need to detect whe...
2,2,6034550,Access the history state of the previous page ...,<p>Is there a way using JS of accessing the hi...
3,3,6034557,optimize SELECT {OTHER_COLUMNS} IN MAX....GROU...,<p>I am familar with the problems MySQL has if...
4,4,6034559,How to access the URL that Acegi has stored fo...,<p>I'm integrating Gigya with a web app runnin...
...,...,...,...,...
20308,20308,8047095,cloud for java software,<p>the cloud hit me now as well. The more I lo...
20309,20309,8047181,Good books on Distributed Computing/ Distribut...,<p>Please recommend good books on basics of di...
20310,20310,8047356,Caching a user control in ASP.NET?,<p>I have created a user control in my applica...
20311,20311,8047407,UPDATED: jquery dialog modal radio button not ...,<p>I have a problem here. I have a jquery moda...
20312,20312,8047436,Sparql Query Using Jena Producing No Results -...,"<p>Basically I have the following query, works..."

## 1.2 Identify Duplicates

In [31]:
df_train[df_train[['Title', 'Body']].duplicated() == True] # 205 rows are duplicated

,Unnamed: 0,Id,Title,Body,Tags
3392,3392,337877,Remove a character at a certain position in a ...,<blockquote>\n <p><strong>Possible Duplicate:...,javascript string
4236,4236,425088,Client/Server UDP Program debugging in Eclipse,<p>I'm trying to debug my Client-Server UDP pr...,java eclipse debugging udp client-server
7847,7847,790037,IIS + Plesk queue problem,<p>I have a dedicated server running on Plesk ...,iis plesk application queue pool
8465,8465,851653,Is a function analytical on C iff its Fourier-...,<p>I think Cauchy's integral formula and the H...,analysis functional-analysis fourier-analysis
9300,9300,935437,TSQL: Create a view that accesses multiple dat...,"<p>I have a special case,</p>\n\n<p>for exampl...",sql-server database tsql view
...,...,...,...,...,...
59931,59931,6001647,tcpdump loses connection,<p>I'm on Ubuntu – but it's the same on Debian...,networking unix tcpdump
59997,59997,6010084,How to detect when phone is answered or rejected,<p>I managed to prepare an activity when the p...,android android-intent telephony
60076,60076,6017252,Horizontal scrollbar for textbox,<p>Is it possible to add a horizontal scrollba...,css
60131,60131,6022513,Will Application_Start also be triggered on pa...,<p>If I upload a new version of my site to my ...,asp.net
60133,60133,6022933,How to integrate PayPal MECL? Pizza sample doe...,<p>since I already used the MECL in my iPhone ...,android application paypal paypal-api

In [32]:
df_train_no_dup = df_train.copy().drop_duplicates(subset=["Title", "Body"])

In [33]:
dup_count = len(df_train.index) - len(df_train_no_dup.index)
print(dup_count) # 205 rows are duplicated

205

## 1.3 Tag Analysis

In [48]:
# distribution of tags
'''
3    17321
2    16155
4    11382
1     8192
5     7007
'''
df_train_no_dup["tag_count"] = df_train_no_dup["Tags"].apply(lambda _: len(_.split(" ")))
df_train_no_dup["tag_count"].value_counts()

3    17321
2    16155
4    11382
1     8192
5     7007
Name: tag_count, dtype: int64

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
vectorizer = CountVectorizer(tokenizer = lambda x: x.split())
# fit_transform() does two functions: First, it fits the model
# and learns the vocabulary; second, it transforms our training data
# into feature vectors. The input to fit_transform should be a list of strings.
tag_dtm = vectorizer.fit_transform(df_train_no_dup['Tags'])

In [49]:
print("Number of data points :", tag_dtm.shape[0]) # 60057
print("Number of unique tags :", tag_dtm.shape[1]) # 15054

Number of data points : 60057
Number of unique tags : 15054

In [46]:
tags = vectorizer.get_feature_names_out()
print("Some of the tags we have :", tags[:100])

Some of the tags we have : ['.bash-profile' '.class-file' '.each' '.htaccess' '.htpasswd' '.net'
 '.net-1.0' '.net-1.1' '.net-2.0' '.net-3.5' '.net-4.0' '.net-4.5'
 '.net-assembly' '.net-client-profile' '.net-framework'
 '.net-framework-version' '.net-remoting' '.nettiers' '.post' '.rdlc'
 '.refresh' '.screenrc' '1080p' '10gbethernet' '10gige' '128bit' '16bit'
 '1and1' '2-legged' '2007' '2010' '2013' '24hour' '2checkout' '2d'
 '2d-array' '3-tier' '3.0' '3.0.1' '3.1' '301-redirect' '32-bit' '32bit'
 '32bit-64bit' '389-ds' '3com' '3d' '3d-modelling' '3ds' '3dsmax' '3g'
 '3g-network' '3gp' '3nf' '3rd-party-controls' '3rd-party-library' '3ware'
 '404' '404-error' '443' '500-error' '50mm' '580exii' '64-bit' '64bit'
 '68000' '6to4' '7-zip' '7zip' '802.11' '802.1x' '8086' '9-11' '960.gs'
 'a-star' 'aac' 'aapt' 'abaddressbook' 'abap' 'abbr' 'abbreviation' 'abc'
 'abcpdf' 'abelian-categories' 'abelian-groups' 'abi' 'abmultivalue'
 'abort' 'about-config' 'abrecordref' 'absolute' 'absolute-path'
 'absolute-positioning' 'absolute-value' 'abstract' 'abstract-algebra'
 'abstract-class' 'abstract-data-type' 'abstract-syntax-tree'
 'abstract-type']

In [54]:
# Create mapping of tags to freq and store in a dataframe
freqs = tag_dtm.sum(axis=0).A1
result = dict(zip(tags, freqs))

In [63]:
df_tag = pd.DataFrame.from_dict(result, orient='index', columns=['Counts'])

In [67]:
df_tag.loc[df_tag['Counts'] > 200]

                Counts
.htaccess          222
.net              1619
actionscript-3     254
ajax               653
algorithm          334
...                ...
winforms           412
wordpress          318
wpf                607
xcode              495
xml                608

[91 rows x 1 columns]

In [57]:
import matplotlib.pyplot as plt